<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Jesus Ponte</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" SimpleSmoothScroll [scrollTo]="'block1'" [duration]="500">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" SimpleSmoothScroll [scrollTo]="'block2'" [duration]="500">Who am i?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" SimpleSmoothScroll [scrollTo]="'block3'" [duration]="500">Proyects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" SimpleSmoothScroll [scrollTo]="'block4'" [duration]="500">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid main-container">
  <div class="row first-block" id="block1">
    <div class="col-12">
      <div class="vertical-align text-center">
        <div class="awesome-image">
          <img class="goodest-dog" src="../../assets/IMG_20170805_010657_114.jpg" alt="">
        </div>
        <h3 class="awesome-person">Jesus Ponte</h3>
        <div class="social">
          <a href="https://www.instagram.com/jesus.ponte/"><i class="fab fa-instagram fa-5x social-icon"></i> </a>
          <a href="https://twitter.com/JesusPbravo"><i class="fab fa-twitter fa-5x"></i></a>
          <a href="https://www.facebook.com/jesus.ponte.3"><i class="fab fa-facebook-f fa-5x social-icon"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="second-block" id="block2">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1 class="second-header">Who am i?</h1>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <img class="goodest-dog" src="../../assets/IMG_20170504_185904_364.jpg" alt="">
          <div class="best-description">
            I'm a Systems Engineer student, with 1 year of experience working in web development.
            Since i got into the programming world i been doing my best to learn as much as possible
            so i can fulfill my costumer's needs. I do not consider myself the best programmer but
            i keep working and learning to become an awesome one. I been working with different programming languages
            and frameworks during the last 4 years and i still have a long way to go.
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">

          <div class="skills">
            My skills
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="skill-bars">
                <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    Angular

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="skill-bars">
                <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    Typescript
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="skill-bars">
                <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    PHP

                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="skill-bars">
                <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    SQL
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row progress-container">
            <div class="col-md-3">
              <div class="skill-bars">
                <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    CSS
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="skill-bars">
                <div class="progress blue">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    HTML
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="third-block" id="block3">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1 class="second-header">Porfolio</h1>

        </div>
      </div>
    </div>
  </div>

  <div class="third-block" id="block4">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1 class="second-header">Contact</h1>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
      </div>

      <div class="col-md-3">
        <div class="card card-contact text-center">
          <div class="card-body">
            You can download my CV here. <br>
            <i class="fas fa-scroll fa-5x"></i>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-contact text-center" (click)="toggleForm()">
          <div class="card-body">
            You can write me an email to jpontebravo@gmail.com or click here to get the contact form. <br>
            <i class="fab fa-wpforms fa-5x"></i>
          </div>
        </div>
      </div>

      <div class="col-md-3">

      </div>

    </div>

    <div class="row">
      <ng-container *ngIf="openForm">

        <div class="col-md-12 text-center form-container">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div>
              <input class="form-input" type="Email" placeholder="Enter your Email" formControlName='email'>
            </div>
            <div>
              <input class="form-input" type="text" placeholder="First Name" formControlName='firstName'>
            </div>
            <div>
              <input class="form-input" type="text" placeholder="Last Name" formControlName='lastName'>
            </div>
            <div>
              <input class="form-text-area" type="textarea" placeholder="Write your message here." formControlName='comments'>
            </div>
            <div>
              <button class="btn submit-button" type="submit">Send</button>
            </div>
          </form>
        </div>

      </ng-container>
    </div>
    <div *ngIf="openForm.value">
      {{openForm.value}}
    </div>



  </div>

</div>